### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
# Created by .ignore support plugin (hsz.mobi)
frontgateway-dal/bin/
frontgateway-client/.settings/
.settings/
*.settings/
cp.sh
logs*
*.log
rebel.xml
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.ipr
out
gen
/classes
target